/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr';

@use '@angular/material' as mat;

@import "bootstrap/dist/css/bootstrap.min.css";



////////////////////////////custom variables ///////////////////////////
:root{
  --blue:#1E5F9E;
  --blue-dark:#0F2C59;
  --green:#5DCE53;
}



// // ======================= toaster CLasses==========================

// * Optional: Custom toastr styling */
.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-container {
  z-index: 99999 !important;
}

.toast-success {
  background-color: #51a351 !important;
}

.toast-error {
  background-color: #bd362f !important;
}

.toast-info {
  background-color: #2f96b4 !important;
}

.toast-warning {
  background-color: #f89406 !important;
}


// ======================= Color CLasses==========================
.blueColor{
  background-color: var(--blue);
}
.darkBlue{
  background-color: var(--blue-dark);
    color: #ffffff !important;
}

.darkBlue:hover {
  background-color: var(--blue-dark);   
  color: #fff;
}

.greenColor{
  background-color: var(--green);
}
.greenColor:hover {
  background-color: #15803d;   
  color: #fff;
}



// ======================= Gradient  CLasses ==========================



////////////////////// Custom Styles ///////////////////////////



html, body {
  font-family: 'inter';
}



//////////////////////Icon and images classes ///////////////////////////

.logo{
    background: url('././assets/lcons/Logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 58px;
    width: 103px;
    // border-radius: 8px;  
}


.loginbg{
    background: url('././assets/lcons/loginbg1.svg');
    background-repeat: no-repeat;
    // background-size:  900px  754px ;
    background-size: 90% 90% !important;
    // background-position: absolute; 
    // height: 500px ;
    // width: 700px;
    
}



.footerlogo{
    background: url('././assets/lcons/whiteLogo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 58px;
    width: 103px;
    // border-radius: 8px;  
}


.map{
  background: url('././assets/lcons/map.svg');
  width: 301.1665954589844px;
  height: 194.0968475341797px;
  background-position: center;
  background-size: cover;
}



.overview{
  background: url('././assets/lcons/overview.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.books{
  background: url('././assets/lcons/books.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.candidates{
  background: url('././assets/lcons/candidates.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.configuration{
  background: url('././assets/lcons/configuration.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.recomendedlecture{
  background: url('././assets/lcons/recomendedlecture.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.speakers{
  background: url('././assets/lcons/speakers.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}
.lectures{
  background: url('././assets/lcons/lectures.svg');
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

////////////////////// Top Nav Componnet ///////////////////////////

.navbar .nav-link {
  font-family: 'inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--black);
  transition: color 0.2s ease;
}

/* Hover */
.navbar .nav-link:hover {
  color: var(--blue);
}

/* Active (Selected) */
.navbar .nav-link.active {
  color: var(--blue);
 background: var(--light-bg);
  font-weight: 600;
 border-radius: 50px;

}
.registerNow{
  background: var(--blue-dark);
  color: var(--white);
}


////////////////////////////
html, body { height: 100%; }
body { margin: 0; font-family: 'Inter' }
